.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
}

.row {
  flex-grow: 1;
  display: flex;
}

.square {
  flex-grow: 1;
  border-style: solid;
  border-width: thin;
}
